.all{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 100px);
    grid-row-gap: 3px;
}

.header{
    grid-column-start: 1;
    grid-column-end: 5;
    background-color: rgb(49, 137, 189);
    border-radius: 15px;
    text-align: center;
    line-height: 100px;
}

.main{
    grid-column-start: 1;
    grid-column-end: 3;
    background-color: rgb(70, 46, 156);
    border-radius: 15px;
    text-align: center;
    line-height: 100px;
}

.aside{
    grid-column-start: 4;
    grid-column-end: 5;
    background-color: pink;
    border-radius: 15px;
    text-align: center;
    line-height: 100px;
}

.footer{
    grid-column-start: 1;
    grid-column-end: 5;
    background-color: rgb(168, 44, 44);
    border-radius: 15px;
    text-align: center;
    line-height: 100px;
}