@mixin flexCenter($justify:true) {
    display: flex;
    align-items: center;
    @if $justify {
        justify-content: center; 
    }
}
@mixin durationsPositions() {
    position: absolute;
    top: 18px;
    pointer-events: none;
}