*{
    box-sizing: border-box;
}

.yo{
    width: 100%;
}

div[class *= main]{
    display: grid;
    grid-column-gap: 20px;
    height: 150px;
    text-align: center;
    line-height: 150px;
    color: white;
}

div[class *= child], .main1{
    border: 2px solid fuchsia;
    background-color: hotpink;
}
.main1{
    grid-template-columns: 100%;
}

.main2{
    grid-template-columns: repeat(2, 1fr);
}

.main3{
    grid-template-columns: repeat(3, 1fr);
}

.main4{
    grid-template-columns: repeat(4, 1fr);
}